* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body>header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
    font-weight: bold;
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
    margin-bottom: 16px;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
    font-size: 32px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#tecnology {
    background-color: #e4c0c0;
}

#tecnology .articles article a {
    background-color: #f22020;
}

#healthy {
    background-color: #cecae8;
}

#healthy .articles article a {
    background-color: #2516fb;
}