@use "../config/variables";

@media screen and (max-width: 1023px) {

    header {

        .container {
            max-width: 80%;
        }
    }

    .container {
        max-width: 80%;
        margin: 0 auto;

        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }

}