@use "../config/variables.scss";
@use "../products/products";

header {
    background-color: variables.$mainColor;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        @include products.container();

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;

        .branding {
            align-items: center;
        }

        .menu {
            display: flex;

            li {
                font-weight: bold;
                margin-left: 24px;

                a {
                    text-decoration: none;
                    color: variables.$specialFontColor;
                }
            }
        }
    }
}